
{% set version = 'version-17' %}


<div class="holdingBlock">
     <strong class="govuk-tag govuk-tag--red govuk-!-margin-bottom-2">Work in progress</strong>
     <h2 class="govuk-heading-m govuk-!-margin-bottom-0">Large and Complex Cases v17</h2>
     <p class="govuk-body govuk-!-margin-bottom-10">19 June 2026 &ndash; </p>
     <ul class="govuk-list  govuk-list--bullet">
          <li><a href="/version-17/lcc/materials/manage-materials">Manage materials</a><br><strong class="govuk-tag govuk-tag--red govuk-!-margin-bottom-2">Unstable</strong> </li>
               <!-- <strong class="govuk-tag govuk-tag--blue govuk-!-margin-bottom-2">Work in progress</strong> -->
          <li><a href="/version-17/lcc/register-case/01-register-case">Register a case</a></li>
          <li><a href="/version-18/lcc/materials/transfer-materials">Temp</a></li>
     </ul>
     
     <!-- <h2 class="govuk-heading-m govuk-!-margin-bottom-3">Quick links</h2>
     <ul class="govuk-list  govuk-list--bullet">
          <li><a href="/version-14/B-off-system-MVP/create-case/03-add-suspect">Add a suspect</a></li>
     </ul> -->

</div>
