
{% set version = 'version-14' %}


<div class="holdingBlock">
     <strong class="govuk-tag govuk-!-margin-bottom-2">Development</strong>
     <hr>
     <h2 class="govuk-heading-m govuk-!-margin-bottom-0 govuk-!-margin-top-3">Transfer materials <strong class="govuk-tag govuk-tag--purple govuk-!-margin-bottom-2">Beta v2</strong> </h2>
     
     <p class="govuk-body govuk-!-margin-bottom-3">11 May 2026 &ndash; 22 May 2026</p>
     <ul class="govuk-list  govuk-list--bullet">
          <li><a href="/version-15/B-off-system-MVP/03-case-overview">Transfer materials</a><p class="govuk-body-s govuk-!-margin-bottom-4">Note: Open the Investigator folder (in the transfer materials tab) to copy contents.</p></li>
          <li><a href="/version-18/lcc/materials/transfer-materials">Retry failed transfer</a><strong class="govuk-tag govuk-tag--yellow govuk-!-margin-bottom-2">Updated 24 August</strong><p class="govuk-body-s">Note: Copy everything inside Counsel only folder to a Shared Drive folder. Click try again on the error banner. After that a permanent banner appears and is until it's closed or the problem is resolved.</p></li>
          <li><a href="/version-18/lcc/materials/01-search">Connect to different buckets</a><strong class="govuk-tag govuk-tag--yellow govuk-!-margin-bottom-2">Updated 8 September</strong><p class="govuk-body-s govuk-!-margin-bottom-7">Note: Search for any case name and area and follow the journey.</p></li>
     </ul>

     <hr>
     <h2 class="govuk-heading-m govuk-!-margin-bottom-0 govuk-!-margin-top-3">Register a case <strong class="govuk-tag govuk-tag--purple govuk-!-margin-bottom-2">Beta v1</strong> </h2>
     
     <p class="govuk-body govuk-!-margin-bottom-3">Last update: 29 May 2026</p>
     <ul class="govuk-list  govuk-list--bullet govuk-!-margin-bottom-7">
          <li><a href="/version-15/B-off-system-MVP/create-case/01-register-case">Register a case beta</a></li>
     </ul>

     <hr>
     <h2 class="govuk-heading-m govuk-!-margin-bottom-0 govuk-!-margin-top-3">Manage materials <strong class="govuk-tag govuk-tag--purple govuk-!-margin-bottom-2">Beta v1</strong><strong class="govuk-tag govuk-tag--yellow govuk-!-margin-bottom-2">Updated 30 June</strong> </h2>
     <!-- <strong class="govuk-tag govuk-tag--purple govuk-!-margin-bottom-2">Beta v1</strong>  -->
     <p class="govuk-body govuk-!-margin-bottom-3">9 March 2026 &ndash; 30 March 2026</p>
     <ul class="govuk-list  govuk-list--bullet">
          <li><a href="/manage-materials-beta-v1/B-off-system-MVP/03-case-overview">Manage materials</a>
               <p class="govuk-body-s">Updated 30 June 2026</p>
          </li>
               <!-- <strong class="govuk-tag govuk-tag--red govuk-!-margin-bottom-2">Work in progress</strong>  -->
     </ul>

     
     
     <!-- <h2 class="govuk-heading-m govuk-!-margin-bottom-3">Quick links</h2>
     <ul class="govuk-list  govuk-list--bullet">
          <li><a href="/version-14/B-off-system-MVP/create-case/03-add-suspect">Add a suspect</a></li>
     </ul> -->

</div>

